:root {
    --game_width: 600px;
    --game_height: 375px;
}

* {
    user-select: none;
}

html,
body {
    height: 100%;
    overflow: hidden;
}

body {
    background-color: rgb(33, 37, 41);
}


.game_container {
    position: relative;
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

#player_info {
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: var(--game_width);
    height: 35px;
}

#score {
    font-size: 24px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 5px;
}

#hearts {
    margin: 0 5px;
    color: rgb(207, 20, 20);
}

#hearts i {
    margin: 0 1px;
}

canvas {
    background-image: url('src/sky.png');
}

#game_arrows {
    display: none;
    position: absolute;
    bottom: 10px;
    justify-content: space-between;
    width: 100%;
    max-width: var(--game_width);
    padding-inline: 5px;
}

#game_launcher,
#gameover_info {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: var(--game_height);
    width: 100%;
    max-width: var(--game_width);
    position: absolute;
    top: 0;
    backdrop-filter: blur(2px);
}

#game_launcher {
    display: flex;
    background-image: url('src/backgroundLauncher.png');
    background-size: cover;
}

#gameover_info {
    display: none;
}

#player,
#rocket,
#layer1,
#layer2,
#layer3,
#layer4,
#layer5 {
    display: none;
}